
ul.nav-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    height: 100px;
}

li.nav-right-links {
    float: left;
}

li.nav-right-links a {
    display: inline-block;
    color: #31393f;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 100px;
    padding: 0px 17px;
}

li.nav-right-links a:hover {
    background-color: #2e9bda;
}

.top-bar-wrapper{
    position: fixed;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    box-shadow: 2px 5px 5px -4px rgba(0,0,0,0.47);
}

li.nav-right-links:hover > a{
    color: white;
}

.work-dropdown {
    z-index: 2;
    color: gray;
    position: absolute;
    width: 200px;
    text-align: left;
    background-color: rgba(255,255,255,.8);
    transition: opacity 1s ease-out;
    opacity: 0; 
    height: 0;
    overflow: hidden;
}

#nav-work:hover .work-dropdown {
    opacity: 1;
    height: auto;
}

@media (max-width: 1200px) {
    li.nav-right-links a {
        padding: 0px 10px
    }
}